body{
font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

.SampleTable1
        {
            border: solid 1px #D5D5D5;
            border-collapse: collapse;
            height: auto;
            
        }
        
        .SampleTable1 td
        {
            border: 1px solid #D5D5D5;
            font-size: 12px;
            height:20px;
        }
        
        .SampleTable1 th
        {
            border: 1px solid #fff;
            font-size: 12px;
            background: #333333;
            color: #fff;
            height:20px;
        }
        
        
        .SampleTable2
        {
            border: solid 1px #000;
            border-collapse: collapse;
            height: auto;
            
        }
        
        .SampleTable2 td
        {
            border: 1px solid #000;
            font-size: 12px;
            height:35px;
            font-size:16px;
        }
        
        .SampleTable2 th
        {
            border: 1px solid #000;
            font-size: 12px;
            background: #0066FF;
            color: #fff;
            height:35px;
            font-size:16px;
        }
        
        .SampleTable2 tr.tdChecked {
		    background-color: #FFD900;
	    }