table
{
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
td
{
	border: 1px solid #009999;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	text-align: center;
}
td button
{
	font-size: 12px;
}